<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="ServicePrincipal" type="System.Configuration.NameValueSectionHandler" />
    <section name="MasterUser" type="System.Configuration.NameValueSectionHandler" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--OWS configuration-->
    <add key="hotelDomain" value="EU" />
    <add key="kioskID" value="KIOSK" />
    <add key="username" value="KIOSK" />
    <add key="password" value="$$$KIOSK$$" />
    <add key="language" value="EN" />
    <add key="systemType" value="KIOSK" />
    <add key="legNumber" value="1" />
    <add key="chainCode" value="CHA" />
    <add key="destinationEntityID" value="TI" />
    <add key="destinationSystemType" value="PMS" />
    <!--END-->
    <!--API CONFIGURATIONN-->
    <add key="OwsBaseURL" value="http://saavy-pay.com:8083/WebCheckin/api/ows/" />
    <add key="EmailAPIURL" value="http://saavy-pay.com:8083/WebCheckin/api/Email/" />
    <add key="SaavyBaseURL" value="http://saavy-pay.com:8084/" />
    <add key="LOCALURL" value="http://saavy-pay.com:8083/WebCheckin/api/" />
    <add key="isProxyEnableForCloudAPI" value="False" />
    <add key="CloudAPIProxyHost" value="http://sin02-proxy.aa.accor.net:3128" />
    <add key="CloudAPIProxyUN" value="AA\H8655-ifc" />
    <add key="CloudAPIProxyPswd" value="Aapc@12345" />
    <add key="CloudAPIURL" value="http://saavy-pay.com:8083/WebCheckin/api/" />
    <add key="isProxyEnableForLocalAPI" value="False" />
    <add key="LocalAPIProxyHost" value="" />
    <add key="LocalAPIProxyUN" value="" />
    <add key="LocalAPIProxyPswd" value="" />
    <add key="LocalAPIURL" value="http://saavy-pay.com:8083/WebCheckin/api/" />
    <add key="isProxyEnableForEmailAPI" value="False" />
    <add key="EmailAPIProxyHost" value="http://sin02-proxy.aa.accor.net:3128" />
    <add key="EmailAPIProxyUN" value="AA\H8655-ifc" />
    <add key="EmailAPIProxyPswd" value="Aapc@12345" />
    <add key="EmailURL" value="http://saavy-pay.com:8083/WebCheckin/api" />
    <!--END-->
    <!--EMAIL CONFIGURATIONS-->
    <add key="FromEmail" value="Hotel@email.com" />
    <add key="DisplayFromEmail" value="Hotel Name" />
    <add key="RequestAcceptedSubject" value="Your room upgrade request is confirmed" />
    <add key="RequestRejectedSubject" value="Status of your room upgrade request" />
    <add key="PreArrivalConfirmationEmail" value="Hotel@email.com" />
    <add key="PreArrivalConfirmationEmailSubject" value="Your online check-in is confirmed at Hotel" />
    <add key="PreArrivalFromEmail" value="Hotel@email.com" />
    <add key="PreArrivalEmailSubject" value="Your Upcoming Stay at  Hotel" />
    <add key="PreCheckoutFromEmail" value="Hotel@email.com" />
    <add key="PreCheckoutEmailSubject" value="Your stay at Hotel / Fast Check-out" />
    <add key="PreCheckoutFolioEmail" value="Hotel@email.com" />
    <add key="PreCheckoutFolioEmailSubject" value="Tax invoice for your stay at Hotel" />
    <add key="EmailDisplayName" value="Hotel Name" />
    <!--END-->
    <!--GENERAL SETTINGS-->
    <add key="HotelTimeZone" value="Singapore Standard Time" />
    <add key="EnableAutoRoomAssign" value="True" />
    <add key="MealPlanFieldName" value="MealPlan" />
    <add key="preAuthUDF" value="APPR_CODE" />
    <add key="preAuthAmntUDF" value="APPR_AMT" />
    <add key="IsETADefault" value="False" />
    <add key="GarunteeTypeCode" value="GCC" />
    <add key="DueINBufferDays" value="2" />
    <add key="PackageCodes" value="BKF;" />
    <add key="LogLocation" value="" />
    <add key="Currency" value="SGD" />
    <add key="isAutoCheckOutEnabled" value="False" />
    <add key="sendFolioFromOpera" value="False" />
    <!--END-->
    <!--Business Logic-->
    <add key="IsBreakFastValidationWithUDF" value="False" />
    <add key="IsBreakFastValidationWithPackage" value="True" />
    <!--END-->
    <!-- Report Config-->
    <add key="AuthenticationType" value="MasterUser" />
    <add key="applicationId" value="94cfb16f-0672-4480-86c7-f3ab8ced525e" />
    <add key="workspaceId" value="56ca6ec1-6cca-4dc2-bf08-fdfdee4f6b30" />
    <add key="reportId" value="" />
    <add key="authorityUrl" value="https://login.microsoftonline.com/common/" />
    <add key="resourceUrl" value="https://analysis.windows.net/powerbi/api" />
    <add key="apiUrl" value="https://api.powerbi.com" />
    <add key="embedUrlBase" value="https://app.powerbi.com" />
    <add key="reportUrlBase" value="" />
    <!-- END-->
  </appSettings>
  <MasterUser>
    <!-- Note: Do NOT leave your credentials on code. Save them in secure place. -->
    <add key="pbiUsername" value="" />
    <add key="pbiPassword" value="" />
  </MasterUser>
  <ServicePrincipal>
    <!-- Note: Do NOT leave your app secret on code. Save it in secure place. -->
    <add key="applicationSecret" value="" />
    <add key="tenant" value="" />
  </ServicePrincipal>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6.1" debug="true">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <sessionState timeout="1440" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.3.0" newVersion="4.3.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="dbConnection" connectionString="data source=94.201.38.128,1433;initial catalog=QC_LocalWebCheckinDB;user id=sbs_administrator;password=P@ssw0rd@2020;" />
    <add name="PortalDBEntities" connectionString="metadata=res://*/DataAccess.BackofficeDB.csdl|res://*/DataAccess.BackofficeDB.ssdl|res://*/DataAccess.BackofficeDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=94.201.38.128,1433;initial catalog=QC_LocalWebCheckinDB;user id=sbs_administrator;password=P@ssw0rd@2020;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="QC_LocalWebCheckinDBConnectionString" connectionString="Data Source=94.201.38.128,1433;Initial Catalog=QC_LocalWebCheckinDB;User ID=sbs_administrator;Password=P@ssw0rd@2020;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="db" xsi:type="Database" connectionString="server=94.201.38.128,1433;Database=QC_LocalWebCheckinDB;user id=sbs_administrator;password=P@ssw0rd@2020" commandType="StoredProcedure" commandText="[dbo].[Usp_InsertNLog]">
        <parameter name="@machineName" layout="${machinename}" />
        <parameter name="@logged" layout="${date}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@exception" layout="${exception:tostring}" />
        <parameter name="@actionName" layout="${event-properties:item=actionName}" />
        <parameter name="@hostName" layout="${event-properties:item=hostName}" />
        <parameter name="@reservationNameID" layout="${event-properties:item=reservationNameID}" />
        <parameter name="@applicationName" layout="${event-properties:item=applicationName}" />
        <parameter name="@ActionGroup" layout="${event-properties:item=actionGroup}" />
      </target>
    </targets>
    <rules>
      <logger name="*" writeTo="db" />
    </rules>
  </nlog>
</configuration>
<!--ProjectGuid: 72A0B041-A40B-4C29-88D8-F650E38668D8-->