@using CheckinPortal.BackOffice.Models.SmartTap;
@model List<Outlet>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>OutletName</th>
           
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var outlet in Model)
            {
                <tr>
                    <td>@outlet.OutletName</td>
                   
                </tr>
            }
        }

    </tbody>
</table>
