
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReservationDetailsNotFound</title>
    
</head>

<body>
    <div> 
        <h1>Reservation Details Not Found</h1>
    </div>
</body>
</html>
